
<nav class="uk-navbar-container" uk-navbar uk-sticky>
    <div class="uk-navbar-center nav-overlay">
        <a href="/weights/home/" class="uk-navbar-item uk-logo" style="margin-right: 100px" >Grzes</a>
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/growths/">Wzrost</a></li>
            <li class="uk-parent"><a href="/weights">Waga</a></li>
            <li class="uk-parent"><a href="/pressures/">Ciśnienie</a></li>
            <li class="uk-parent"><a href="/pulses/">Tętno</a></li>
            <li>
                <a href="#">Opcje</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/weights/info/">Info</a></li>
                        <li><a href="/weights/home/">profil</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <span class="uk-navbar-item" style="margin-left: 100px" >Użytkownik</span>
        <span class="uk-navbar-item">{% now "D, d M Y" %}</span>
        <a href="/" uk-icon="icon:  sign-out; ratio: 1.1" uk-tooltip="Wyloguj"></a>

    </div>
</nav>

