{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Ciśnienie {% endblock %}

{% block page_content %}

<div class="container">
    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60" height="28" alt="info">
        <h2 class="uk-heading-divider" style="position: relative">Ciśnienie</h2>
    </div>

    <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
{#            <button class="uk-modal-close-default" type="button" uk-close></button>#}
            <p>Pomiary ciśnienia najlepiej wykonywać o stałej porze dnia, gdyż ciśnienie w ciągu doby ulega zmianom.</p>
            <p>Badanie powinno odbywać się w warunkach spoczynkowych.</p>
           <p>Kategoria - Ciśnienie skurczowe / Ciśnienie rozkurczowe:</p>
            <ul class="uk-list uk-list-bullet">
                <li>Ciśnienie optymalne: < 120 mm Hg / < 80 Hg,</li>
                <li>Ciśnienie prawidłowe: 120 - 129 mm Hg / 80 - 84 mm Hg,</li>
                <li>Ciśnienie wysokie prawidłowe: 130 - 139 mm Hg / 85 - 89 mm Hg,</li>
                <li>Nadciśnienie tętnicze 1. stopnia: 140 - 159 mm Hg / 90 - 99 mm Hg</li>
                <li>Nadciśnienie tętnicze 2. stopnia: 160 - 179 mm Hg / 100 - 109 mm Hg</li>
                <li>Nadciśnienie tętnicze 3. stopnia: ≥ 180 mm Hg / ≥ 110 mm Hg.</li>
            </ul>
        </div>
    </div>

        <div class="uk-section">
            <div style="max-width: 1000px; margin: 50px auto">
                <canvas id="line-chart" width="2800" height="900"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>

                var label_list = [];
                {% for value in chart_x %}
                label_list.push("{{ value }}");
                {% endfor %}

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: label_list,
                        datasets: [{
                            data: {{chart_y1}},
                            label: "Ciśnienie skurczowe",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                        {
                            data: {{chart_y2}},
                            label: "Ciśnienie rozkurczowe",
                            borderColor: "#3cba9f",
                            fill: false
                        },
                        {
                            data: {{chart_y3}},
                            label: "Tętno",
                            borderColor: "#c45850",
                            fill: false
                        }]
                    },
                     options: {
                         plugins: {
                             legend: {display: true},
                             title: {
                                text: 'Wartości w czasie',
                                display: false
                             }
                         },
                        responsive: true,
                        scales:{
                            x: {
                                display: true,
                                stacked: true,
                                title: {
                                    display: true,
                                    text: 'Data'}
                            },
                            y: {
                                display: true,
                                stacked: true,
                                title:{
                                    display: true,
                                    text: 'Cićnienie / Tętno'
                                },
                                suggestedMin: 40,
                                suggestedMax: 220,
                                ticks: {
                                    stepSize: 20
                                }
                            }
                        }
                    }
                });

            </script>
    </div>

    <a href="add" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
    <a href="delete/all" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
    <span class="uk-position-relative uk-align-right"> Ilość wpisów: {{ pages_max_elements }} </span>

    <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Ciśnienie Skurczowe</th>
                <th>Ciśnienie Rozkurczowe</th>
                <th>Tętno</th>
                <th>Data</th>
                <th>Uwagi</th>
                <th>Opcje</th>
            </tr>
        </thead>

        <tbody>
        {% for value in pressures %}
            <tr>
                <form method="POST" action="{% url 'pressure_details_url' id=value.id %}">
                    {% csrf_token %}
                    <td>
                        <input name="number" value="{{ pressures.start_index|add:forloop.counter0 }}" type="hidden">
                        {{ pressures.start_index|add:forloop.counter0 }}
                    </td>
                    <td>{{ value.shrink |floatformat:1}}</td>
                    <td>{{ value.diastole |floatformat:1}}</td>
                    <td>{{ value.pulse |floatformat:1}}</td>
                    <td>{{ value.date |date:'D, d M Y,'}} {{value.date |time:"H:i"}}</td>
                    <td>{{ value.comments }}</td>
                    <td>
                        <a href=" {% url 'edit_pressure_url' id=value.id %}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                        <button href="{% url 'pressure_details_url' id=value.id %}" uk-icon="icon: info" uk-tooltip="Szczegóły" type="submit"></button>
                        <a href="{% url 'delete_pressure_url' id=value.id %}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>

    </table>

        <div class="uk-position-center uk-position-relative">
          <span>
             {% if pressures.has_previous %}
                <a href="?page=1" style="color: #00BFFF; margin-right: 20px">&laquo; Pierwsza</a>
                <a href="?page={{ pressures.previous_page_number }}" style="color: #32CD32">Poprzednia </a>
             {% endif %}
              <span>Strona {{ pressures.number }} z {{ pressures.paginator.num_pages }}</span>
              {% if pressures.has_next %}
                  <a href="?page={{ pressures.next_page_number }}" style="color: #32CD32"> Następna</a>
                  <a href="?page={{ pressures.paginator.num_pages }}" style="color: #00BFFF; margin-left: 20px"> Ostatnia  &raquo;</a>
              {% endif %}
          </span>
        </div>

    <div class="uk-padding"></div>

</div>
{% endblock %}
