{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Ciśnienie - Edytuj {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Ciśnienie - Edytuj</h2>
        </div>













        <div class="uk-padding"></div>

    </div>
{% endblock %}