{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Waga - Dodaj {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Waga - Dodaj</h2>
        </div>

        <div style="height: 50px"></div>
        <div class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-body">
                <form style="width:300px; margin: auto" action="" method="POST">

                    {% csrf_token %}

                    <div class="uk-margin">
                        <label>Waga</label>
                        <input name="weight" type="number" class="uk-input" step="0.1" min="10" max="150"
                               required="required">
                    </div>

                    <div class="uk-margin">
                        <label>Data</label>
                        <Input name="date" type="datetime-local" class="uk-input" min="2020-01-01T00:00" value="{{ time_now }}" max="{{time_now}}" required="required">
                    </div>

                    <div class="uk-margin">
                        <label>Uwagi</label>
                        <textarea name="comment" class="uk-textarea" rows="4"></textarea>
                    </div>

                    <div class="uk-position-relative uk-position-center uk-position-top-center" >
                        <a href="/weights/" class="uk-icon-link uk-margin-small-right" uk-icon="close"
                           uk-tooltip="Anuluj"></a>
                        <a href="/weights/add" class="uk-icon-link uk-margin-small-right" uk-icon="trash"
                           uk-tooltip="Wyczyść"></a>
                        <button href="" class="uk-icon-link uk-margin-small-right" uk-icon="check" type="submit"
                                uk-tooltip="Zapisz"></button>

                    </div>
                    <div class="uk-text-danger uk-margin-small-top">
                    {{ field.errors }}
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-padding"></div>

    </div>
{% endblock %}