{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Waga {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Waga</h2>
        </div>

        <a uk-icon="info" uk-tooltip="Info" href="#modal-info" uk-toggle></a>
        <div id="modal-info" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                {#            <button class="uk-modal-close-default" type="button" uk-close></button>#}
                <p>Całkowita masa ciała jest obliczana na zasadzie zsumowania tłuszczu niezbędnego oraz tłuszczu
                    zapasowego.</p>
                <p>U osób, które czynnie ćwiczą tłuszcz niezbędny do metabolizmu oraz tłuszcz zapasowy, który
                    potencjalnie jest
                    zawsze w nadmiarze jest niezbędny do normalnego funkcjonowania organizmu. </p>
                <p>Normalnie, tłuszcz niezbędny powinien stanowić 16% całkowitej masy ciała u mężczyzn i 27% u
                    kobiet.</p>
            </div>
        </div>

        <div class="uk-section">
            <div style="max-width: 1000px; margin: 50px auto">
                <canvas id="line-chart" width="2800" height="900"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>

                var label_list = [];
                {% for value in chart_x %}
                    label_list.push("{{ value }}");
                {% endfor %}

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: label_list,
                        datasets: [{
                            data: {{ chart_y }},
                            label: "Waga",
                            borderColor: "#3e95cd",
                            fill: false,
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {display: true},
                            title: {
                                text: 'Wartości w czasie',
                                display: false
                            }
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                stacked: true,
                                title: {
                                    display: true,
                                    text: 'Data'
                                }
                            },
                            y: {
                                display: true,
                                stacked: true,
                                title: {
                                    display: true,
                                    text: 'Waga'
                                },
                                suggestedMin: 40,
                                suggestedMax: 160,
                                ticks: {
                                    stepSize: 20
                                }
                            }
                        }
                    }
                });

            </script>
        </div>

        <a href="add" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
        <a href="#model-confirmation-all" uk-toggle uk-icon="icon: trash" uk-tooltip="Wyczyść" style="margin-left: 5px"></a>

        <div id="model-confirmation-all" uk-modal>
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center" style="color: #FF7F50">Alert</h3>
                </div>
                <div class="uk-modal-body">
                    <p> Potwierdź wyczyszczenie wszystkich wpisów !</p>
                    <p> Ta czynność jest nie odwracalna.</p>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <a href="/weights/" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Anuluj"></a>
                    <a href="delete/all" uk-icon="check" uk-tooltip="Wyczyść" style="margin-left: 5px"></a>
                </div>
            </div>
        </div>

        <a href uk-icon="icon: search" uk-tooltip="Wyszukaj" style="margin-left: 5px"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 5">
            <form class="uk-search uk-width-1-1">
                <input name="search" class="uk-search-input" type="search"
                       placeholder="Wyszukaj po Uwagach, 3-10 znaków." minlength="3" maxlength="10" aria-label="Search"
                       autofocus>
            </form>
        </div>
        {% if filter_value %}
            <span style="color: #4169E1; margin-left: 50px">Zastosowany Filtr:</span>
            <span style="color: #FF7F50"> {{ filter_value }} </span>
        {% endif %}

        <span class="uk-position-relative uk-align-right"> Ilość wpisów: {{ pages_max_elements }} </span>

        <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable >
            <thead>
                <tr>
                    <th style="width:5%; text-align: center">Lp.</th>
                    <th style="width:7%; text-align: center">Waga</th>
                    <th style="width:20%; text-align: center">Data</th>
                    <th style="width:58%; text-align: center">Uwagi</th>
                    <th style="width:10%; text-align: center">Opcje</th>
                </tr>
            </thead>

            <tbody>
            {% for value in weights %}
                <tr style="text-align: center">
                    <form method="POST" action="{% url 'weight_details_url' id=value.id %}">
                        {% csrf_token %}
                        <td>
                            <input name="number" value="{{ weights.start_index|add:forloop.counter0 }}" type="hidden">
                            {{ weights.start_index|add:forloop.counter0 }}
                        </td>
                        <td>{{ value.weight |floatformat:1 }}</td>
                        <td>{{ value.date |date:'D, d M Y,' }} {{ value.date |time:"H:i" }}</td>
                        {#                <td>{{ value.date}}</td>#}
                        <td class="uk-text-break">{{ value.comments }}</td>
                        <td>
                            <a href="{% url 'edit_weight_url' id=value.id %}" uk-icon="icon: file-edit" uk-tooltip="Edytuj"></a>
                            <button href="{% url 'weight_details_url' id=value.id %}" uk-icon="icon: info" uk-tooltip="Szczegóły" type="submit"></button>
                            <a href="" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                            <div class="uk-card uk-card-small uk-width-small uk-card-body uk-card-default uk-border-circle uk-box-shadow-medium" uk-drop="mode: click">
                                <p>Czy jesteś pewien? </p>
                                <a href="{% url 'delete_weight_url' id=value.id %}" uk-icon="check" uk-tooltip="Potwierdź" style="color: #FF7F50"></a>
                            </div>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="uk-position-center uk-position-relative">
          <span>
             {% if weights.has_previous %}
                 <a href="?page=1" style="color: #00BFFF; margin-right: 20px">&laquo; Pierwsza</a>
                 <a href="?page={{ weights.previous_page_number }}" style="color: #32CD32">Poprzednia </a>
             {% endif %}
              <span>Strona {{ weights.number }} z {{ weights.paginator.num_pages }}</span>
              {% if weights.has_next %}
                  <a href="?page={{ weights.next_page_number }}" style="color: #32CD32"> Następna</a>
                  <a href="?page={{ weights.paginator.num_pages }}" style="color: #00BFFF; margin-left: 20px"> Ostatnia  &raquo;</a>
              {% endif %}
          </span>
        </div>

        <div class="uk-padding"></div>

    </div>
{% endblock %}
