{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Waga - Edytuj {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Waga - Edytuj</h2>
        </div>

        <div style="height: 50px"></div>
        <div class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-header">
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-position-relative uk-position-top-center">Edycja wpisu nr {{ number }}</h3>
                </div>
            </div>

            <div class="uk-card-body">
                <form style="width:300px; margin: auto" action="" method="POST">

                    {% csrf_token %}

                    <div class="uk-margin">
                        <label>Waga<span uk-icon="icon: question; ratio: 0.6" uk-tooltip="min 10, max 150" style="margin-left: 10px"></span></label>
                        <input name="weight" type="number" class="uk-input" step="0.1" min="10" max="150" value="{{ weight.weight }}"    required="required">
                    </div>

                    <div class="uk-margin">
                        <label>Data<span uk-icon="icon: question; ratio: 0.6" uk-tooltip="od bieżącej do roku wstecz" style="margin-left: 10px"></span></label>
                        <Input name="date" type="datetime-local" class="uk-input" min="{{time_min}}" value="{{ time_value }}" max="{{time_max}}" required="required">
                    </div>

                    <div class="uk-margin">
                        <label>Uwagi<span uk-icon="icon: question; ratio: 0.6" uk-tooltip="max 150 znaków" style="margin-left: 10px"></span></label>
                        <textarea name="comment" class="uk-textarea" rows="5" maxlength="150">{{ weight.comments }}</textarea>
                    </div>

                    <div class="uk-position-relative uk-position-center uk-position-top-center" >
                        <a href="/weights/" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Anuluj"></a>
                        <a href="{% url 'edit_weight_url' id=weight.id %}" class="uk-icon-link uk-margin-small-right" uk-icon="trash" uk-tooltip="Wyczyść"></a>
                        <button href="" class="uk-icon-link uk-margin-small-right" uk-icon="check" type="submit" uk-tooltip="Zapisz"></button>
                    </div>

                </form>
            </div>
        </div>
        <div class="uk-padding"></div>

    </div>
{% endblock %}