{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Wzrost - Dodaj {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Wzrost - Dodaj</h2>
        </div>

        <form style="width:300px; margin: auto" action="{% url 'add_growth_url' %}" method="POST">

            {% csrf_token %}

            <div class="uk-margin">
                <label>Wzrost</label>
                <input value="{{ growth }}" type="number" class="uk-input" step="1" min="50" max="220"
                       required="required">
            </div>

            <div class="uk-margin">
                <label>Data</label>
                <Input value="{{ date }}" type="date" class="uk-input" required="required">
            </div>

            <div class="uk-margin">
                <label>Uwagi</label>
                <textarea value="{{ comment }}" class="uk-textarea" rows="4"></textarea>
            </div>

{#            <a href="/growths/" class="uk-icon-link uk-margin-small-right" uk-icon="close" uk-tooltip="Anuluj"></a>#}
{#            <a href="/growths/add" class="uk-icon-link uk-margin-small-right" uk-icon="trash" uk-tooltip="Wyczyść"></a>#}
{#            <a href="/growths/add" class="uk-icon-link uk-margin-small-right" uk-icon="check" type="submit" uk-tooltip="Zapisz"></a>#}

            <a href="/growths/"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
            <input class="uk-button uk-button-primary" type="submit" value="Zapisz">

        </form>

        <div class="uk-padding"></div>

    </div>
{% endblock %}