{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {#    <title>Dzienniczek Zdrowia - {% block page_title %}{% endblock %}</title>#}
    <title>Dzienniczek Zdrowia</title>

    <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/private.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>

<body>

<div class="uk-card-default uk-card uk-card-body uk-box-shadow-hover-xlarge"
     style="width: 400px; margin: 300px auto; border-radius: 1rem">

    {#    <h3 class="uk-text-center uk-card-title">Dzienniczek Zdrowia</h3>#}

    <img class="uk-align-center uk-margin-remove-adjacent uk-border-rounded" src="{% static 'background.JPG' %}"
         width="300" height="140">
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="uk-text-center uk-card-title">Dzień Dobry</h2>

        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input id="id_username" name="username" type="text" placeholder="Użytkownik" autocomplete="username"
                    class="uk-input uk-border-rounded" maxlength="20" required="" autofocus="">
        </div>

        <div class="uk-inline uk-width-1-1" style="margin-top: 20px">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input id="id_password" name="password" type="password" placeholder="Hasło" autocomplete="password"
                   class="uk-input uk-border-rounded" maxlength="20" required="">
        </div>

        <div class="uk-grid" style="margin-top: 10px">
            <div class="uk-inline uk-width-1-2 uk-text-left">
                <input id="show_pass_ch" name="show_pass" type="checkbox" onclick="show_fuction()" />
                <label for="show_pass" class="inline"> Pokaż hasło</label>
            </div>
{#            <div class="uk-inline uk-width-1-2 uk-text-right">#}
{#                <input id="remember_me" name="remember-me" type="checkbox"/>#}
{#                <label for="remember_me" class="inline">Pamiętaj mnie</label>#}
{#            </div>#}
        </div>

        {% if form.errors %}
            <div class="uk-text-center"  style="margin-top: 20px">
                <p style="font-size: 15px; color: #ff1c19;">Nazwa użytkownika lub hasło są nieprawidłowe! Sprawdź je!</p>
            </div>
        {% endif %}

        <button class="uk-button uk-button-secondary uk-width-1-1 uk-border-rounded" style="margin-top: 25px" type="Submit">Wejdź</button>
    </form>

    <div style="margin-top: 20px">
        <a class="uk-align-left" href="{% url 'register_url' %}" uk-icon="icon: user; ratio: 1.2"
           uk-tooltip="Dodaj konto"></a>
        <a class="uk-align-right" href="{% url 'password_reset_url' %}" uk-icon="icon: search; ratio: 1.2"
           uk-tooltip="Przypomnij logowanie"></a>
    </div>
</div>

<script>
    function show_fuction() {
      let password = document.getElementById("id_password");

      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
</script>

</body>
</html>