{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {#    <title>Dzienniczek Zdrowia - {% block page_title %}{% endblock %}</title>#}
    <title>Dzienniczek Zdrowia</title>

    <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/private.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>

<body>

<div class="uk-card-default uk-card uk-card-body uk-box-shadow-hover-xlarge"
     style="width: 400px; margin: 300px auto; border-radius: 1rem">

{#    <h2 class="uk-text-center uk-card-title">Dzienniczek Zdrowia</h2>#}
    <h2 class="uk-text-center uk-card-title">Error 404</h2>

    <img class="uk-align-center uk-margin-remove-adjacent uk-border-rounded" src="{% static 'background.JPG' %}"
         width="300" height="140">
    
    <h3 class="uk-text-center uk-card-title">{{ time_value }}</h3>
    <h3 class="uk-text-center uk-card-title">{{ message }}</h3>
    
</div>
</body>

</html>