{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Tętno {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Tętno</h2>
        </div>

        <div class="uk-section">
            <div style="max-width: 1000px; margin: 50px auto">
                <canvas id="line-chart" width="2800" height="900"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>

                var label_list = [];
                {% for value in chart_x %}
                    label_list.push("{{ value }}");
                {% endfor %}

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: label_list,
                        datasets: [{
                            data: {{chart_y}},
                            label: "Tętno",
                            borderColor: "#3e95cd",
                            fill: false
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {display: true},
                            title: {
                                text: 'Wartości w czasie',
                                display: false
                            }
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                stacked: true,
                                title: {
                                    display: true,
                                    text: 'Data'
                                }
                            },
                            y: {
                                display: true,
                                stacked: true,
                                title: {
                                    display: true,
                                    text: 'Tętno'
                                },
                                suggestedMin: 40,
                                suggestedMax: 160,
                                ticks: {
                                    stepSize: 20
                                }
                            }
                        }
                    }
                });

            </script>
        </div>

        <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                {#            <button class="uk-modal-close-default" type="button" uk-close></button>#}
                <p> Prawidłowe tętno (puls) mieści się w przedziale od 60 do 100 uderzeń serca na minutę.</p>
                <p>Za wysoki puls serca (powyżej 100 uderzeń na minutę) to tachykardia (częstoskurcz), za niski puls
                    (poniżej 60 uderzeń na minutę) to bradykardia.</p>
                <p>Zarówno wysoki puls w spoczynku, jak i niski puls mogą świadczyć o chorobie – taki stan wymaga
                    dalszej diagnostyki.</p>
            </div>
        </div>

        <a href="add" uk-icon="icon: copy" uk-tooltip="Dodaj" style="margin-left: 5px"></a>
        <a href="#model-confirmation-all" uk-toggle uk-icon="icon: trash" uk-tooltip="Wyczyść"
           style="margin-left: 5px"></a>

        <div id="model-confirmation-all" uk-modal>
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center" style="color: #FF7F50">Alert</h3>
                </div>
                <div class="uk-modal-body">
                    <p> Potwierdź wyczyszczenie wszystkich wpisów !</p>
                    <p> Ta czynność jest nie odwracalna.</p>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <a href="/pulses/" class="uk-icon-link uk-margin-small-right" uk-icon="close"
                       uk-tooltip="Anuluj"></a>
                    <a href="delete/all" uk-icon="check" uk-tooltip="Wyczyść"></a>
                </div>
            </div>
        </div>
    
        <a href uk-icon="icon: settings" uk-tooltip="Sortuj" style="margin-left: 5px"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: bottom; offset: 5">
            <div class="uk-grid" style="margin-left: 55px; width: 8500px">
{#                <a href="/pulses/" style="color: {% if sort_value == None %} #FF7F50 {% else %} gray {% endif %} ;">Domyślne</a>#}
                <a href="/pulses/?sort_by=pulse&search={{ filter_value }}&filtering_by={{ filtering_by }}" style="color: {% if sort_value == 'pulse' %} #FF7F50 {% else %} gray {% endif %} ;">Tętno</a>
                <a href="/pulses/?sort_by=-creation_date&search={{ filter_value }}&filtering_by={{ filtering_by }}" style="color: {% if sort_value == '-creation_date' %} #FF7F50 {% else %} gray {% endif %} ;">Data</a>
                <a href="/pulses/?sort_by=comments&search={{ filter_value }}&filtering_by={{ filtering_by }}" style="color: {% if sort_value == 'comments' %} #FF7F50 {% else %} gray {% endif %} ;">Uwagi</a>
            </div>
        </div>

        <a href uk-icon="icon: search" uk-tooltip="Wyszukaj" style="margin-left: 5px"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 5">
            <form class="uk-search ">
                <input name="search" class="uk-search-input" type="search"
                       placeholder="Wyszukaj po 1-10 znaków." minlength="1" maxlength="10" aria-label="Search">
                <div class=" uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="filtering_by" value="pulse"> Tętno</label>
                    <label><input class="uk-radio" type="radio" name="filtering_by" value="comments" checked> Uwagi</label>
                </div>
            </form>
        </div>
    
        {% if filter_value %}
            <span style="color: #4169E1; margin-left: 390px">Zastosowany Filtr: </span>
            <span style="color: #FF7F50; margin-left: 5px"> {{ filter_value }} </span>
        {% endif %}

        <span class="uk-position-relative uk-align-right"> Ilość wpisów: {{ pages_max_elements }} </span>

        <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
            <thead>
            <tr>
                <th style="width:5%; text-align: center">Lp.</th>
                <th style="width:7%; text-align: center">Tętno</th>
                <th style="width:20%; text-align: center">Data</th>
                <th style="width:58%; text-align: center">Uwagi</th>
                <th style="width:10%; text-align: center">Opcje</th>
            </tr>
            </thead>

            <tbody>
            {% for value in pulses %}
                <tr style="text-align: center">
                    <form method="POST" action="{% url 'pulse_details_url' id=value.id %}">
                        {% csrf_token %}
                        <td>
                            <input name="number" value="{{ pulses.start_index|add:forloop.counter0 }}" type="hidden">
                            {{ pulses.start_index|add:forloop.counter0 }}
                        </td>
                        <td>{{ value.pulse |floatformat:1 }}</td>
                        <td>{{ value.creation_date |date:'D, d M Y,' }} {{ value.creation_date |time:"H:i" }}</td>
                        {#                <td>{{ value.date}}</td>#}
                        <td class="uk-text-break">{{ value.comments }}</td>
                        <td>
                            <a href="{% url 'edit_pulse_url' id=value.id %}" uk-icon="icon: file-edit"
                               uk-tooltip="Edytuj"></a>
                            <button href="{% url 'pulse_details_url' id=value.id %}" uk-icon="icon: info"
                                    uk-tooltip="Szczegóły" type="submit"></button>
                            <a href="" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                            <div class="uk-card uk-card-small uk-width-small uk-card-body uk-card-default uk-border-circle uk-box-shadow-medium"
                                 uk-drop="mode: click">
                                <p>Czy jesteś pewien? </p>
                                <a href="{% url 'delete_pulse_url' id=value.id %}" uk-icon="check"
                                   uk-tooltip="Potwierdź" style="color: #FF7F50"></a>
                            </div>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="uk-position-center uk-position-relative">
          <span>
             {% if pulses.has_previous %}
                 <a href="?page=1" style="color: #00BFFF; margin-right: 20px">&laquo; Pierwsza</a>
                 <a href="?page={{ pulses.previous_page_number }}" style="color: #32CD32">Poprzednia </a>
             {% endif %}
              <span>Strona {{ pulses.number }} z {{ pulses.paginator.num_pages }}</span>
              {% if pulses.has_next %}
                  <a href="?page={{ pulses.next_page_number }}" style="color: #32CD32"> Następna</a>
                  <a href="?page={{ pulses.paginator.num_pages }}" style="color: #00BFFF; margin-left: 20px"> Ostatnia  &raquo;</a>
              {% endif %}
          </span>
        </div>

        <div class="uk-padding"></div>

    </div>
{% endblock %}
