{% extends 'fragments/layout.html' %}
{% load static %}

{% block page_title %} Tętno - Szczegóły {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="uk-panel">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'background.JPG' %}" width="60"
                 height="28" alt="info">
            <h2 class="uk-heading-divider" style="position: relative">Tętno - Szczegóły</h2>
        </div>

        <div style="height: 50px"></div>
        <div class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-header">
                <div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-position-relative uk-position-center">Statystyki:</h3>
                        <div class="uk-position-relative uk-position-center">
                            <b> Liczba Wpisów:</b> {{ statistical_data.weight__count }}</div>
                        <div class="uk-flex uk-flex-between ">
                            <div><b> MIn. Tętno:</b> {{ statistical_data.pulse__min|floatformat:2 }}</div>
                            <div><b> Śr. Tętno: </b>{{ statistical_data.pulse__avg|floatformat:2 }}</div>
                            <div><b> Max. Tętno:</b> {{ statistical_data.pulse__max|floatformat:2 }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">

                <span> <b>Lp.: </b> </span>
                <span> {{ number }} </span> <br>
                <span> <b>Puls: </b> </span>
                <span>{{ pulse.pulse }}</span><br>
                <span> <b>Data wpisu: </b> </span>
                <span>{{ pulse.creation_date }}</span><br>
                <span> <b>Data aktualizacji: </b> </span>
                <span>{{ pulse.update_date }}</span><br>
                <span> <b>Właściciel: </b> </span>
                <span>{{ pulse.owner }}</span><br>
                <span class="uk-text-break"> <b>Uwagi: </b> </span>
                <span>{{ pulse.comments }}</span>
                <br><br>
                <b>Nasza ocena: </b>

                {% if pulse.pulse > 100  %}
                    <span class="uk-text-danger"> Jesteś powyżej normy - Nie denerwuj się. </span>
                    <span class="uk-text-danger"> Prawdopodobnie masz tachykardię (częstoskurcz), Skontaktuj sie z lekarzem. </span>

                {% elif  pulse.pulse < 60 %}
                    <span class="uk-text-danger">  Jesteś powyżej normy - Nie denerwuj się.</span>
                    <span class="uk-text-danger">  Prawdopodobnie masz bradykardię, Skontaktuj sie z lekarzem. </span>

                {% else %}
                    <span class="uk-text-success"> Jesteś na dobrym poziomie - Tak trzymaj. </span>
                {% endif %}

            </div>

            <div class="uk-position-center uk-position-relative">
                <span>
                    {% if prev_view %}
                        <a href="{% url 'pulse_details_url' id=first_view.id %}" style="color: #00BFFF; margin-right: 20px">Pierwszy wpis</a>
                        <a href="{% url 'pulse_details_url' id=prev_view.id %}" style="color: #32CD32; margin-right: 20px">Poprzedni wpis</a>
                    {% endif %}
                </span>
{#                <span style="margin-right: 20px"> Wpis {{ current_element_index }} z {{ all_element_index }}</span>#}
                <span>
                    {% if next_view %}
                        <a href="{% url 'pulse_details_url' id=next_view.id %}" style="color: #32CD32">Następny wpis</a>
                        <a href="{% url 'pulse_details_url' id=last_view.id %}" style="color: #00BFFF; margin-left: 20px">Ostatni wpis</a>
                    {% endif %}
                </span>
            </div>

            <div class="uk-card-footer">
                <a href="/pulses"
                   class="uk-button uk-button-text uk-position-relative uk-position-top-center">Zamknij</a>
            </div>
        </div>


    </div>
{% endblock %}