{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dzienniczek Zdrowia</title>

    <link rel="icon" type="image/x-icon" href="{% static 'icon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/private.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>

<body>

<div class="uk-card-default uk-card uk-card-body uk-box-shadow-hover-xlarge"
     style="width: 400px; margin: 300px auto; border-radius: 1rem">

    {#    <h3 class="uk-text-center uk-card-title">Dzienniczek Zdrowia</h3>#}

    <img class="uk-align-center uk-margin-remove-adjacent uk-border-rounded" src="{% static 'background.JPG' %}"
         width="300" height="140">
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="uk-text-center uk-card-title">Przypomnij Hasło</h2>

        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input id="id_username" name="username" type="text" placeholder="Podaj nazwę użytkownika konta"
                   class="uk-input uk-border-rounded" maxlength="20" required="" autofocus="">
        </div>

        <div class="uk-inline uk-width-1-1" style="margin-top: 20px">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input id="id_email" name="email" type="email" placeholder="Podaj adres email konta"
                   class="uk-input uk-border-rounded" maxlength="20" required="">
        </div>

        <button class="uk-button uk-button-secondary uk-width-1-1 uk-border-rounded" style="margin-top: 20px"
                type="Submit">Przypomnij Hasło</button>
    </form>

    <a href="login/">
        <button class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded" style="margin-top: 10px">Wyjdź
        </button>
    </a>
</div>
</body>

</html>